/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.p-toast {
    position: fixed; /* ตั้งค่าตำแหน่งเป็น fixed เพื่อให้อยู่ที่ตำแหน่งที่ต้องการ */
    top: 20px; /* ระยะห่างจากด้านบน */
    left: 50%; /* ตั้งค่าตำแหน่งที่กลางของหน้าจอ */
    transform: translateX(-50%); /* ย้ายให้กลางจอ */
    z-index: 1000; /* แน่ใจว่าอยู่ด้านบนขององค์ประกอบอื่น */
  }
