<nav class="bg-[#F4F1EC] ">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <div>
        <a routerLink="/">
          <img src="../../../assets/CafeBOARDgame.png" alt="Logo" />
        </a>
      </div>
      <ul class="flex space-x-10 font-semibold text-base font-sans">
        <li class="hover:border-b-2 transition-all ease-in-out">
          <a>menu management</a>
        </li>
        <li class="hover:border-b-2 transition-all ease-in-out">
          <a>Boardgame management</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

