<app-navbaradmin></app-navbaradmin>
<div class="bg-bgPro h-screen">
  <p-toast></p-toast>
  <div class="pt-24 flex justify-center  text-[32px] font-koulen  text-redProject items-center relative mb-4">
      <span class="grow h-[2px] bg-redProject"></span>
          <div class="flex justify-center space-x-32 mx-12">
            <a (click)="showSection('all-orders')" class="cursor-pointer hover:text-red-600">ALL Orders</a>
            <a (click)="showSection('beverage-menu')" class="cursor-pointer hover:text-red-600">Beverage Menu</a>
            <a (click)="showSection('cake-menu')" class="cursor-pointer hover:text-red-600">Cake and Bakery Menu</a>
          </div>
      <span class="grow h-[2px] bg-redProject"></span>
  </div>
  <div *ngIf="showPopup" class="fixed inset-0 bg-black bg-opacity-50 z-30"></div>


  <!-- --------popup-------- -->
  <app-itemlistpopup *ngIf="showPopup" [coffeemenuID]="selectedCoffeemenuId"  (close)="closePopup()"></app-itemlistpopup>
   <!-- --------popup-------- -->

  <!-- หน้าแสดงสินค้าที่ถูกซื้อ (All Order) -->
  <div *ngIf="currentSection === 'all-orders'" id="all-orders" class="container mx-auto">
    <div class="mt-5 h-[30rem] overflow-auto pr-5">
      <div *ngFor="let order of orders" class="flex items-center justify-between py-4 border-b-2 border-redProject px-10">
        <div class="flex items-center space-x-4">
          <img [src]="order.image" alt="Order Image" class="w-16 h-16 object-cover rounded-md">
          <div>
            <div class="font-bold text-lg w-80">{{ order.name }}</div>
            <div class="text-sm text-gray-500 whitespace-pre-line">{{ order.description }}</div>
          </div>
        </div>
        <div class="text-lg font-semibold">{{ order.quantity }}</div>
        <div class="text-lg font-semibold w-40 text-end">{{ order.price }} BAHT</div>
      </div>
    </div>
  </div>

  <!-- หน้าเครื่องดื่ม(Beverage Menu) -->
  <div *ngIf="currentSection === 'beverage-menu'" id="beverage-menu" class="flex justify-start gap-6 ">

    <!-- เพิ่มเมนูกาแฟ -->
    <form  form [formGroup]="BeveragemenuForm" (submit)="AddMenuItem()" class="w-[40%] ml-8">
      <h3 class="text-redProject text-center font-koulen bg-bgPro w-45 ml-6 z-20 relative "
          style="font-size: 24px; display: inline-block; padding: 0 10px;">Add items to the menu</h3>
      <div class="w-full min-h-[500px] border-2 border-redProject p-6 pb-3 rounded-2xl mt-[-16px] relative z-10">

        <div class="form-control">
          <input type="text" placeholder="Name" formControlName='name'
            class="form-control font-koulen text-[18px] w-full h-14 p-2 mb-4 border-2 border-redProject outline-none bg-bgPro rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400">
          <input type="number" placeholder="TALL CUP PRICE" formControlName='tallcupprice' min="0" step="any"
            class="form-control font-koulen text-[18px] w-full h-14 p-2 mb-4 border-2 border-redProject outline-none bg-bgPro rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400">
          <input type="number" placeholder="GRANDE CUP PRICE" formControlName='grandecupprice' min="0" step="any"
            class="form-control font-koulen text-[18px] w-full h-14 p-2 mb-4 border-2 border-redProject outline-none bg-bgPro rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400">
          <input type="number" placeholder="VENTI CUP PRICE" formControlName='venticupprice' min="0" step="any"
            class="form-control font-koulen text-[18px] w-full h-14 p-2 mb-4 border-2 border-redProject outline-none bg-bgPro rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400">
        </div>

        <div class="flex justify-between mb-4">
          <label class="flex items-center space-x-2 cursor-pointer">
            <input type="checkbox" id="hot" formControlName="hot" class="form-control peer h-6 w-6 cursor-pointer transition-all text-[18px] 
             appearance-none rounded-md shadow border-2 border-redProject bg-bgPro checked:bg-redProject checked:border-redProject 
             relative checked:after:content-['✔'] checked:after:text-white checked:after:absolute checked:after:inset-0 
             checked:after:flex checked:after:items-center checked:after:justify-center">
            <span class="text-redProject font-koulen">HOT</span>
          </label>
          <label class="flex items-center space-x-2 cursor-pointer">
            <input type="checkbox" id="iced" formControlName="iced" class="form-control peer h-6 w-6 cursor-pointer transition-all text-[18px] 
             appearance-none rounded-md shadow border-2 border-redProject bg-bgPro checked:bg-redProject checked:border-redProject 
             relative checked:after:content-['✔'] checked:after:text-white checked:after:absolute checked:after:inset-0 
             checked:after:flex checked:after:items-center checked:after:justify-center">
            <span class="text-redProject font-koulen">ICED</span>
          </label>
          <label class="flex items-center space-x-2 cursor-pointer">
            <input type="checkbox" id="frappe" formControlName="frappe" class="form-control peer h-6 w-6 cursor-pointer transition-all text-[18px] 
             appearance-none rounded-md shadow border-2 border-redProject bg-bgPro checked:bg-redProject checked:border-redProject 
             relative checked:after:content-['✔'] checked:after:text-white checked:after:absolute checked:after:inset-0 
             checked:after:flex checked:after:items-center checked:after:justify-center" >
            <span class="text-redProject font-koulen">FRAPPE</span>
          </label>
        </div>

        <div class="flex flex-row gap-4 pb-8">
          <input id="photo" type="file" (change)="onFileSelected($event)"  formControlName="upload"
              class="form-control text-[16px] text-redProject font-koulen w-80 
              file:mr-4 file:py-2 file:px-4
              file:w-44 file:h-14
              file:text-[18px] file:font-koulen
              file:rounded-xl file:border-2 file:border-redProject
              file:bg-transparent file:text-redProject" />
          <select
              class=" form-control font-koulen text-[18px] text-redProject w-[18rem] h-14  bg-bgPro p-2 outline-none border-2 border-redProject rounded-xl pr-8 "
              formControlName="status">
              <option value="status">Status</option>
              <option value="true">Regular Menu</option>
              <option value="false">Recommended Menu</option>  
          </select>
        </div>

        <div class="flex justify-between ">
          <button (click)="ClearBeveragemenuForm()" type="button" class="font-koulen text-[18px] w-28 h-10 border-2 border-redProject text-redProject items-center justify-center rounded-xl
               hover:bg-redProject hover:text-white transition-all duration-500">CLEAR</button>
          <button type="submit" class="font-koulen text-[18px] w-28 h-10 bg-redProject text-white items-center justify-center rounded-xl
              hover:bg-[#B70A1A] transition-all duration-500">ADD ITEM</button>
        </div>
      </div>
    </form>
    
    <!-- แสดงรายการเมนูเครื่องดื่ม -->
    <div class="w-[54%] flex flex-col mt-2 ">
      <div class="overflow-auto h-[32rem] w-full pr-5 ">
        <div *ngFor="let item of menuItems">
          <div class=" h-full border-redProject  border-b-2 pt-3">
            <div class="flex justify-start h-full gap-3">
              <div class="w-[7rem] h-[9rem] flex justify-center ml-3 ">
                <img class="w-[96%] h-[90%] rounded-2xl" [src]="item.photoUrl" alt="">
              </div>
              <div class="w-[16rem]">
                <h2 class="text-[20px] font-koulen whitespace-normal break-words">{{ item.name }}</h2>
                <p class="text-[18px] text-black/80 font-koulen ">{{ item.type_coffee }}</p>
              </div>
              <div class="">
                <h2 class="text-[20px] font-koulen">Price of each glass size</h2>
                <p class="text-[18px] font-koulen whitespace-normal break-words">: {{ item.s_price }}, {{ item.m_price }}, {{ item.l_price }} BAHT</p>
              </div>
              <div class="flex justify-between items-start ml-8 gap-3">
                <button (click)="openPopup(item._id)" type="button" 
                  class="text-[20px] text-formfPro font-koulen w-30 text-end hover:text-redProject">Update</button>
              
                <button type="button" (click)="deleteMenuItem(item._id)" 
                  class="text-[20px] text-formfPro font-koulen w-30 text-end hover:text-redProject">Delete</button>
              </div>
            </div>
          </div>           
        </div>
      </div>
    </div>
  </div> 


  <!-- หน้าเมนูเค้ก (Cake and Bakery Menu) -->
  <div *ngIf="currentSection === 'cake-menu'" id="cake-menu" class="flex justify-start gap-6 ">
    
    <!-- เพิ่มเมนูเค้ก -->
    <form [formGroup]="CakemenuForm" (submit)="AddCakeMenuItem()" class="w-[40%] ml-8">
      <h3 class="text-redProject text-center font-koulen bg-bgPro w-45 ml-6 z-20 relative "
          style="font-size: 24px; display: inline-block; padding: 0 10px;">Add items to the menu</h3>
      <div class="w-full min-h-[500px] border-2 border-redProject p-6 pb-3 rounded-2xl mt-[-16px] relative z-10">

        <div class="form-control">
          <input type="text" placeholder="Name" formControlName='name'
            class="form-control font-koulen text-[18px] w-full h-14 p-2 mb-4 border-2 border-redProject outline-none bg-bgPro rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400">
          <textarea type="text" placeholder="Details.."
          class="font-koulen text-[18px] w-full h-[14rem]  pt-1 p-2 mb-4 border-2 border-redProject outline-none bg-bgPro rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400"
          formControlName='cakedescription'></textarea>
        </div>
        
        <div class="flex flex-row gap-4 pb-8">
          <input id="photo" type="file" (change)="onFileSelected($event)" formControlName="upload" 
            class="form-control text-[16px] text-redProject font-koulen w-80 
            file:mr-4 file:py-2 file:px-4
            file:w-44 file:h-14
            file:text-[18px] file:font-koulen
            file:rounded-xl file:border-2 file:border-redProject
            file:bg-transparent file:text-redProject" />
          <input type="number" placeholder="PRICE" formControlName='cakeprice' min="0" step="any"
            class="form-control font-koulen text-[18px] w-[18rem] h-14 p-2 mb-4 border-2 border-redProject outline-none bg-bgPro rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400">
        </div>

        <div class="flex justify-between ">
          <button (click)="ClearCakemenuForm()" type="button" class="font-koulen text-[18px] w-28 h-10 border-2 border-redProject text-redProject items-center justify-center rounded-xl
               hover:bg-redProject hover:text-white transition-all duration-500">CLEAR</button>
          <button type="submit" class="font-koulen text-[18px] w-28 h-10 bg-redProject text-white items-center justify-center rounded-xl
              hover:bg-[#B70A1A] transition-all duration-500">ADD ITEM</button>
        </div>
      </div>
    </form>

    <!--แสดงรายการเมนูของเค้ก-->
    <div class="w-[54%] flex flex-col mt-2 ">
      <div class="overflow-auto h-[32rem] w-full pr-5 ">
        <div *ngFor="let item of cakeItems">
          <div class=" h-full border-redProject  border-b-2 pt-3">
            <div class="flex justify-start h-full gap-2">
              <div class="w-[8rem] h-[8rem] flex justify-center ml-2 ">
                <img class="w-[96%] h-[90%] rounded-2xl" [src]="item.photoUrl" alt="">
              </div>
              <div class="w-[16rem]">
                <h2 class="text-[20px] font-koulen whitespace-normal break-words">{{ item.name }}</h2>
                <p class="text-[18px] text-black/80 font-koulen ">PRICE : {{ item.price }} BAHT</p>
              </div>
              <div class="w-[14rem]">
                <h2 class="text-[20px] font-koulen whitespace-normal break-words">description :</h2>
                <h2 class="text-[18px] text-black/80 font-koulen whitespace-normal break-words">{{ item.description }}</h2>
              </div>
              <div class="flex justify-between items-start gap-3 ml-4">
                <button type="button" class="text-[20px] text-formfPro font-koulen text-end hover:text-redProject">Update</button>
                <button type="button" (click)="deletecakeItem(item._id)"  class="text-[20px] text-formfPro font-koulen text-end hover:text-redProject">Delete</button>
              </div>
            </div>
          </div>           
        </div>
      </div>
    </div>
</div>


