<app-navbaradmin></app-navbaradmin>
<div class="bg-bgPro h-screen">
  <div class="pt-24 flex justify-center  text-[32px] font-koulen  text-redProject items-center relative ">
      <span class="grow h-[2px] bg-redProject"></span>
          <div class="flex justify-center space-x-32 mx-12">
            <a (click)="showSection('all-orders')" class="cursor-pointer hover:text-red-600">ALL ORDERS</a>
            <a (click)="showSection('beverage-menu')" class="cursor-pointer hover:text-red-600">Beverage Menu</a>
            <a (click)="showSection('cake-menu')" class="cursor-pointer hover:text-red-600">Cake and Bakery Menu</a>
          </div>
      <span class="grow h-[2px] bg-redProject"></span>
  </div>
  <!-- display products -->
  <div *ngIf="currentSection === 'all-orders'" id="all-orders" class="container mx-auto mt-1">
    <div class="mt-12 h-[26rem] overflow-auto pr-5">
      <div *ngFor="let order of orders" class="flex items-center justify-between py-4 border-b-2 border-redProject px-10">
        <div class="flex items-center space-x-4">
          <img [src]="order.image" alt="Order Image" class="w-16 h-16 object-cover rounded-md">
          <div>
            <div class="font-bold text-lg w-80">{{ order.name }}</div>
            <div class="text-sm text-gray-500 whitespace-pre-line">{{ order.description }}</div>
          </div>
        </div>
        <div class="text-lg font-semibold">{{ order.quantity }}</div>
        <div class="text-lg font-semibold w-40 text-end">{{ order.price }} BAHT</div>
      </div>
    </div>
  </div>

  <!-- Manage and Manage and display Beverage Menu -->
  <div *ngIf="currentSection === 'beverage-menu'" id="beverage-menu" class="container ml-10">
    <h3 class="text-redProject text-center font-koulen bg-bgPro w-45 ml-6 z-20 relative mt-5" style="font-size: 24px; display: inline-block; padding: 0 10px;">ADD ITEMS TO THE MENU</h3>
    <div class="w-1/2 min-h-[500px] border-2 border-redProject p-6 pb-3 rounded-2xl mt-[-16px] relative z-10">
      <!-- เพิ่มเมนู -->
      <form [formGroup]="BeveragemenuForm" (submit)="AddMenuItem()">
        <div class="form-group">
          <input type="text" placeholder="Name" class="form-control font-koulen text-[18px] w-full h-14 p-2 mb-5 border-2 border-redProject outline-none bg-bgPro rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400 " formControlName='name'>
          <input type="text" placeholder="TALL CUP PRICE" class="form-control font-koulen text-[18px] w-full h-14 p-2 mb-5 border-2 border-redProject outline-none bg-bgPro rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400" formControlName='tallcupprice'>
          <input type="text" placeholder="GRANDE CUP PRICE" class="form-control font-koulen text-[18px] w-full h-14 p-2 mb-5 border-2 border-redProject outline-none bg-bgPro rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400" formControlName='grandecupprice'>
          <input type="text" placeholder="VENTI CUP PRICE" class="form-control font-koulen text-[18px] w-full h-14 p-2 mb-5 border-2 border-redProject outline-none bg-bgPro rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400" formControlName='venticupprice'>
        </div>

        <div class="flex justify-between mb-5">
          <label class="flex items-center space-x-2 cursor-pointer">
            <input type="checkbox" formControlName="hot" class="form-control peer h-6 w-6 cursor-pointer transition-all text-[18px] 
            appearance-none rounded-md shadow border-2 border-redProject bg-bgPro checked:bg-redProject checked:border-redProject 
            relative checked:after:content-['✔'] checked:after:text-white checked:after:absolute checked:after:inset-0 
            checked:after:flex checked:after:items-center checked:after:justify-center">
            <span class="text-redProject font-koulen">HOT</span>
          </label>
          <label class="flex items-center space-x-2 cursor-pointer">
            <input type="checkbox" formControlName="iced" class="form-control peer h-6 w-6 cursor-pointer transition-all text-[18px] 
            appearance-none rounded-md shadow border-2 border-redProject bg-bgPro checked:bg-redProject checked:border-redProject 
            relative checked:after:content-['✔'] checked:after:text-white checked:after:absolute checked:after:inset-0 
            checked:after:flex checked:after:items-center checked:after:justify-center">
            <span class="text-redProject font-koulen">ICED</span>
          </label>
          <label class="flex items-center space-x-2 cursor-pointer">
            <input type="checkbox" formControlName="frappe" class="form-control peer h-6 w-6 cursor-pointer transition-all text-[18px] 
            appearance-none rounded-md shadow border-2 border-redProject bg-bgPro checked:bg-redProject checked:border-redProject 
            relative checked:after:content-['✔'] checked:after:text-white checked:after:absolute checked:after:inset-0 
            checked:after:flex checked:after:items-center checked:after:justify-center">
            <span class="text-redProject font-koulen">FRAPPE</span>
          </label>
        </div>
      
        <div class="flex justify-between mt-6 mb-5">
          <span class="sr-only">Choose file</span>
          <input type="file" formControlName="upload" class="form-control text-[16px] text-redProject font-koulen w-80 
          file:mr-4 file:py-2 file:px-4
          file:w-44 file:h-12
          file:text-[18px] file:font-koulen
          file:rounded-xl file:border-2 file:border-redProject
          file:bg-transparent file:text-redProject" />
      
          <select formControlName="status" class="form-control font-koulen text-[18px] text-redProject w-60 h-12 
           bg-bgPro p-2 outline-none border-2 border-redProject rounded-xl pr-8">
            <option value="status" selected>Status</option>
            <option value="regular">Regular Menu</option>
            <option value="recom">Recommended Menu</option>         
          </select>
        </div>

        <div class="flex justify-between">
          <button type="button" class="font-koulen text-[18px] w-28 h-10 border-2 border-redProject text-redProject items-center justify-center rounded-xl
          hover:bg-redProject hover:text-white transition-all duration-500">DELETE</button>
          <button type="submit" class="font-koulen text-[18px] w-28 h-10 bg-redProject text-white items-center justify-center rounded-xl
          hover:bg-[#B70A1A] transition-all duration-500">ADD ITEM</button>
        </div>
      </form>

      <!-- แสดงเมนู -->
      
    </div>
  </div>

  <!-- Manage and Manage and display Cake and Bakery Menu -->
  <div *ngIf="currentSection === 'cake-menu'" id="cake-menu">
    Content for Cake and Bakery Menu
  </div>
</div>
