<!-- Modal Background -->
<div
  class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50"
>
  <!-- Modal Content -->
  <div class="bg-white p-6 rounded-lg shadow-lg w-96 relative">
    <!-- Close Button (Optional) -->
    <button
      (click)="closePopup()"
      class="absolute top-2 right-2 text-gray-500 hover:text-gray-700 w-5"
    >
      &times;
    </button>

    <!-- QR Code -->
    <div class="flex justify-center mb-6">
      <img
        *ngIf="qrCodeDataUrl"
        [src]="qrCodeDataUrl"
        alt="QR Code"
        class="w-full h-full"
      />
    </div>
    <p-toast></p-toast>

    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      <!-- Upload Input -->
      <div class="mb-6">
        <label class="text-base text-gray-500 font-semibold mb-2 block" for="upload"
          >Upload</label
        >
        <input
          id="upload"
          type="file"
          (change)="onFileSelected($event)"
          class="w-full text-gray-400 font-semibold text-sm bg-white border file:cursor-pointer cursor-pointer file:border-0 file:py-3 file:px-4 file:mr-4 file:bg-gray-100 file:hover:bg-gray-200 file:text-gray-500 rounded"
        />
      </div>

      <!-- Total Price -->
      <div class="flex justify-between items-center mb-6">
        <span class="text-lg font-bold">Total</span>
        <span class="text-lg font-bold">{{ price }} BAHT</span>
        <!-- Display the passed price -->
      </div>

      <!-- Buttons -->
      <div class="flex justify-between">
        <button
        (click)="closePopup()"
          class="bg-orange-500 text-white py-2 px-6 rounded-lg hover:bg-orange-600"
        >
          BACK
        </button>
        <button
          type="submit"
          class="bg-orange-500 text-white py-2 px-6 rounded-lg hover:bg-orange-600"
        >
          SUBMIT
        </button>
      </div>
    </form>
  </div>
</div>
