.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-button {
    color: #D2091C;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.375rem;
    text-transform: uppercase;
    border: 2px solid #D2091C;

}

.custom-quantity-button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid black;
    font-size: 1.875rem;
    border-radius: 0.25rem;
}