<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div class="fixed inset-0 flex-center z-50 font-koulen" >
        <p-toast></p-toast>
        <div class="bg-white rounded-3xl py-8 px-12 w-[26rem]">
            <h2 class="text-center  text-2xl">{{ menuDetails?.name }}</h2>

            <!-- Radio ร้อน เย็น -->
            <div class="mt-7 flex-center gap-8 ">
                <div *ngFor="let type of menuDetails?.type_coffee" class="flex-center">
                    <label for="type-{{ type }}" class="mr-2 text-2xl">{{ type }}</label>
                    <input type="radio" [value]="type" formControlName="type_order" name="type_order"
                        id="type-{{ type }}"
                        class="custom-checkbox" />
                </div>
            </div>

            <!-- Dropdown ความหวาน -->
            <div class="mt-4 ">
                <label class="text-[18px]">Sweet</label>
                <select formControlName="sweetness_level" class="custom-input">
                    <option *ngFor="let sweetness of [0, 25, 50, 75, 100]" [value]="sweetness">{{ sweetness }}%</option>
                </select>
            </div>

            <!-- Radio ขนาดแก้ว -->
            <div class="flex-center mt-4  gap-8">
                <div *ngFor="let size of sizes; let i = index">
                    <div class="flex h-24 justify-center items-end">
                        <img [src]="getImageSource(i)" class="mt-2" />
                    </div>

                    <div class="flex-center pt-2">
                        <div class="text-center">
                            <div class="flex items-end">
                                <label for="size-{{ size }}" class="block text-base leading-tight">{{ size }}</label>
                                <small class="text-xs lowercase pb-[1px]">{{ getOz(size) }}</small>
                            </div>
                            <small class="-top-1 mt-[-4px] block">{{ getPrice(size) }} BAHT</small>
                            <input type="radio" [value]="size" formControlName="size" name="size" id="size-{{ size }}"
                                (change)="onSizeChange(size)"
                                class="custom-checkbox" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Input รายละเอียดเพิ่มเติม -->
            <div class="mt-4 ">
                <label class="text-[18px]">Details</label>
                <textarea formControlName="description"
                    class="custom-input min-h-16 resize-none"
                    placeholder="Enter any notes"></textarea>
            </div>

            <!-- ปุ่ม เพิ่ม-ลด -->
            <div class="mt-4 flex items-center  text-3xl justify-between">
                <div class="flex w-[30%]">
                    <div class="w-1/4">
                        <button type="button" class="custom-quantity-button" (click)="decreaseQuantity()">-</button>
                    </div>
                    <div class="flex w-1/2 text-xl justify-center items-center">
                        {{ quantity }}
                    </div>
                    <div class="w-1/4 ">
                        <button type="button" class="custom-quantity-button"
                            (click)="increaseQuantity()">+</button>
                    </div>
                </div>
                <span class="text-xl text-end pt-[17px]">Total Price: {{ totalPrice }} BAHT</span>
            </div>

            <!-- ปุ่ม Close -->
            <div class="mt-6 flex justify-between ">
                <button type="button" class="custom-button"
                    (click)="closePopup()">cancel</button>
                <div class="flex gap-2">
                    <button type="submit"
                        class="custom-button">Add to Cart</button>
                    <button type="button" class="bg-redProject text-white px-2 rounded-md uppercase"
                        (click)="buyNow()">buy now</button>
                </div>
            </div>
        </div>
    </div>
</form>