/* Webkit Scrollbar (Chrome, Safari) */
div::-webkit-scrollbar {
    width: 10px;
}

div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

div::-webkit-scrollbar-thumb {
    background-color: #D2091C;
    /* สีของ thumb */
    border-radius: 10px;
    /* ทำให้เป็นมุมโค้ง */
    border: 3px solid #f1f1f1;
    /* ช่องว่างระหว่าง track */
}

/* Firefox */
div {
    scrollbar-width: thin;
    /* กำหนดความกว้างของ scrollbar */
    scrollbar-color: #D2091C #f1f1f1;
    /* สีของ thumb และ track */
}

.available {
    color: green;
  }
  
  .unavailable {
    color: red;
  }

/* สีขอบเมื่อมีข้อผิดพลาด */
.input-error {
    border-color: #FF4A00; 
}

.input-error::placeholder {
    color: rgba(255, 74, 0, 0.8); /* สีของ placeholder เมื่อมีข้อผิดพลาด */
}

.clear-button {
    font-family: 'Koulen', cursive;
    font-size: 18px;
    width: 7rem; /* 28 * 0.25rem */
    height: 2.5rem; /* 10 * 0.25rem */
    border-width: 2px;
    border-color: theme('colors.redProject'); /* Replace with the specific hex code for "redProject" */
    color: theme('colors.redProject'); /* Replace with the specific hex code for "redProject" */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem; /* 12px */
    transition: all 0.5s ease;
  }
  
  .clear-button:hover {
    background-color: theme('colors.redProject'); /* Replace with the specific hex code for "redProject" */
    color: #ffffff;
  }

  .submit-button {
    font-family: 'Koulen', cursive;
    font-size: 18px;
    width: 7rem; /* 28 * 0.25rem */
    height: 2.5rem; /* 10 * 0.25rem */
    background-color: theme('colors.redProject'); /* Replace with the specific hex code for "redProject" */
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem; /* 12px */
    transition: all 0.2s ease;
  }
  
  .submit-button:hover {
    background-color: #B70A1A;
  }
  
  .update-delete {
    font-family: 'Koulen', cursive;
    font-size: 20px;
    color: theme('colors.redProject'); /* Replace with the specific hex code for "redProject" */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }
  
  .update-delete:hover {
    color: theme('colors.redProject'); /* Replace with the specific hex code for "redProject" */
    text-decoration: underline;
  }

  textarea::placeholder {
    font-family: 'Koulen', cursive;
}

  
  