<app-navbaradmin></app-navbaradmin>

<div class="bg-orange-100/50 h-screen">
    <div class=" pt-24 flex justify-center  text-[32px] font-koulen  text-redProject items-center relative mb-8">
        <span class="grow h-[2px] bg-redProject"></span>
        <div class="flex justify-center space-x-32 mx-12">
            <a class="cursor-pointer hover:text-red-600">ALL ORDERS</a>
            <a class="cursor-pointer hover:text-red-600">Time reservation</a>
            <a class="cursor-pointer hover:text-red-600">boardgame</a>
        </div>
        <span class="grow h-[2px] bg-redProject"></span>
     </div>
    <!--<div class="flex h-[60%] justify-center gap-7 ">
        <div class="w-[40%] ">
            <div class="h-full  border-redProject border-[3px] rounded-3xl" >
                
            </div>
        
        </div>
        <div class="w-[50%] flex flex-col">
            <div class="h-[25%]">
                <div class=" h-full border-redProject  border-b-2" >  </div>
            </div>
            <div class="h-[25%]">
                <div class="h-full  border-redProject  border-b-2" >  </div>
            </div>
           
        </div>
    </div> -->

    <!-- Reserve -->
    <!-- <div class="flex justify-center h-24 mt-9">
        <div class="w-[75%] ">
            <div class="h-full border-redProject border-b-2">
                <div class="flex justify-between h-full ">
                    <div class="w-[15%] ">
                        <img class="h-full" src="../../../assets/clock.png" alt="">
                    </div>
                    <div class="h-full w-80 border-redProject ">
                        <h2 class="text-[20px] font-koulen">Rinnee</h2>
                        <p class="text-[14px] text-black/80 font-koulen ">Number of players : x5</p>
                        <p class="text-[14px] text-black/80 font-koulen ">date : 12/12/24</p>
                    </div>
                    <div class="h-full w-28 border-redProject ml-40">
                        <h2 class="text-[20px] font-koulen">10 Hour</h2>
                    </div>
                    <div class="h-full w-28 border-redProject ml-40">
                        <h2 class="text-[20px] font-koulen">625 BAHT</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Reserve -->
    <!-- boardgame -->
    
    <div class="flex justify-center h-28 ">
        <div class="w-[75%] ">
            <div class="h-full border-redProject border-b-2">
                <div class="flex justify-between h-full ">
                    <div class="w-[15%] flex justify-center ">
                        <img class="h-full" src="../../../assets/7WondersDuel.webp" alt="">
                    </div>
                    <div class="content-center">
                        <div>
                            <h2 class="text-[20px] font-koulen">Berry Chantilly Cake</h2>
                            <p class="text-[14px] text-black/80 font-koulen ">category : Family Game, Party Game</p>    
                        </div>
                    </div>
                    <div class="ml-52 content-center">
                        <div>
                            <h2 class="text-[20px] font-koulen">X2</h2>
                        </div>
                        
                    </div>
                    <div class="w-28 ml-40 content-center">
                        <div>
                            <h2 class="text-[20px] font-koulen">625 BAHT</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- boardgame -->





</div>