.text-border {
    -webkit-text-stroke: 2px #D2091C; 

  }

  .card {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 80%;
  }
  
  .card:nth-child(1) {
    transform: translateX(-200px);
  }
  
  .card:nth-child(2) {
    transform: translateX(0);
    scale: 1.1;
  }
  
  .card:nth-child(3) {
    transform: translateX(200px);
  }
  p {
    word-wrap: break-word;
    white-space: normal;
  }

  /* Default carousel container */
.carousel-container {
  width: 80%;
}

/* เมื่อหน้าจอมีความกว้างเล็กกว่า 640px (ขนาดมือถือ) */
@media (max-width: 640px) {
  .carousel-container {
    width: 100%; /* ใช้เต็มหน้าจอ */
    justify-content: center; /* ทำให้ slide อยู่กึ่งกลาง */
  }

  .carousel-container > div {
    width: 100% !important; /* ปรับขนาดให้ slide กว้างขึ้นเพื่อแสดงเพียงอันเดียว */
    margin: 0 auto; /* ทำให้ slide อยู่กึ่งกลาง */
  }
}
