.text-border {
    -webkit-text-stroke: 2px #D2091C; 

  }

  .card {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 80%;
  }
  
  .card:nth-child(1) {
    transform: translateX(-200px);
  }
  
  .card:nth-child(2) {
    transform: translateX(0);
    scale: 1.1;
  }
  
  .card:nth-child(3) {
    transform: translateX(200px);
  }
  p {
    word-wrap: break-word;
    white-space: normal;
  }