/* Webkit Scrollbar (Chrome, Safari) */
div::-webkit-scrollbar {
    width: 10px;
}

div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

div::-webkit-scrollbar-thumb {
    background-color: #D2091C;
    /* สีของ thumb */
    border-radius: 10px;
    /* ทำให้เป็นมุมโค้ง */
    border: 3px solid #f1f1f1;
    /* ช่องว่างระหว่าง track */
}

/* Firefox */
div {
    scrollbar-width: thin;
    /* กำหนดความกว้างของ scrollbar */
    scrollbar-color: #D2091C #f1f1f1;
    /* สีของ thumb และ track */
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid theme('colors.redProject');
    padding-top: 1rem;
    padding-bottom: 1rem;
    scroll-snap-align: center;
    font-family: 'Koulen', cursive;
}

.delete-button{
    font-family: 'koulen', cursive;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: theme('colors.redProject')
}

