.input-style {
    padding: 0.5rem; 
    width: 100%; 
    min-height: 3rem;
    margin-bottom: 20px; 
    resize: none; 
    border-width: 2px; 
    border-color: theme('colors.redProject'); 
    outline: none; 
    border-radius: 0.75rem; 
    transition: border-color 0.2s; 
}

.input-style::placeholder {
    color: theme('colors.formfPro'); 
    opacity: 1; 
}

.input-error {
    border-color: theme('colors.orangePro'); 
}

.input-error::placeholder {
    color: theme('colors.orangeform'); 
}

.input-valid {
    border-color: theme('colors.redProject');
}

.input-valid::placeholder {
    color: theme('colors.formfPro');
}

