<form [formGroup]="updateorderForm" (ngSubmit)="updateCoffeemenu()">
    <div class="fixed inset-0 flex items-center justify-center z-50" >
        <div class="bg-white rounded-3xl py-5 px-8 w-[36rem]">
            <h3 class="text-redProject font-koulen text-[30px]">Update {{coffeemenuData.name}}</h3>

            <!-- ชื่อและราคา -->
            <div class="mt-4 font-koulen">
                <div class="h-20">
                    <input formControlName="name" type="text" placeholder="Name" 
                        class="input-style"
                        [ngClass]="{
                            'input-error': updateorderForm.get('name')?.touched && updateorderForm.get('name')?.invalid,
                            'input-valid': !updateorderForm.get('name')?.touched || (updateorderForm.get('name')?.valid && updateorderForm.get('name')?.value !== '')
                        }">
                    <div *ngIf="updateorderForm.get('name')?.invalid && (updateorderForm.get('name')?.touched || updateorderForm.get('name')?.dirty)" 
                        class="text-orangePro text-sm -mt-5 mb-2">
                        Please specify the name of the beverages. 
                    </div>
                </div>

                <div class="h-20 -mt-1">
                    <input formControlName="tallcupprice" type="number" min="0" step="any" placeholder="TALL CUP PRICE" 
                        class="input-style"
                        [ngClass]="{
                            'input-error': updateorderForm.get('tallcupprice')?.touched && updateorderForm.get('tallcupprice')?.invalid,
                            'input-valid': !updateorderForm.get('tallcupprice')?.touched || (updateorderForm.get('tallcupprice')?.valid && updateorderForm.get('tallcupprice')?.value !== '')
                        }">
                    <div *ngIf="updateorderForm.get('tallcupprice')?.invalid && (updateorderForm.get('tallcupprice')?.touched || updateorderForm.get('tallcupprice')?.dirty)" 
                        class="text-orangePro text-sm -mt-5 mb-2">
                        Please specify the price of the beverages.
                    </div>
                </div>

                <div class="h-20 -mt-1">
                    <input formControlName="grandecupprice" type="number" min="0" step="any" placeholder="GRANDE CUP PRICE" 
                        class="input-style"
                        [ngClass]="{
                            'input-error': updateorderForm.get('grandecupprice')?.touched && updateorderForm.get('grandecupprice')?.invalid,
                            'input-valid': !updateorderForm.get('grandecupprice')?.touched || (updateorderForm.get('grandecupprice')?.valid && updateorderForm.get('grandecupprice')?.value !== '')
                        }">
                    <div *ngIf="updateorderForm.get('grandecupprice')?.invalid && (updateorderForm.get('grandecupprice')?.touched || updateorderForm.get('grandecupprice')?.dirty)" 
                        class="text-orangePro text-sm -mt-5 mb-2">
                        Please specify the price of the beverages.
                    </div>
                </div>

                <div class="h-20 -mt-1">
                    <input formControlName="venticupprice" type="number" min="0" step="any" placeholder="VENTI CUP PRICE" 
                        class="input-style"
                        [ngClass]="{
                            'input-error': updateorderForm.get('venticupprice')?.touched && updateorderForm.get('venticupprice')?.invalid,
                            'input-valid': !updateorderForm.get('venticupprice')?.touched || (updateorderForm.get('venticupprice')?.valid && updateorderForm.get('venticupprice')?.value !== '')
                        }">
                    <div *ngIf="updateorderForm.get('venticupprice')?.invalid && (updateorderForm.get('venticupprice')?.touched || updateorderForm.get('venticupprice')?.dirty)" 
                        class="text-orangePro text-sm -mt-5 mb-2">
                        Please specify the price of the beverages.
                    </div>
                </div>
            </div>


            <!-- ร้อน ปั่น เย็น -->
            <div class="flex justify-between mb-8 font-koulen">
                <label class="flex items-center space-x-2 cursor-pointer">
                    <input type="checkbox" id="hot" formControlName="hot" class="appearance-none h-6 w-6 border border-redProject checked:bg-redProject checked:border-redProject 
                    focus:outline-none rounded-md checked:after:content-['✔'] checked:after:text-white checked:after:flex checked:after:justify-center checked:after:items-center">
                    <span class="text-redProject font-koulen">HOT</span>
                </label>
                <label class="flex items-center space-x-2 cursor-pointer">
                    <input type="checkbox" id="iced" formControlName="iced" class="appearance-none h-6 w-6 border border-redProject checked:bg-redProject checked:border-redProject 
                    focus:outline-none rounded-md checked:after:content-['✔'] checked:after:text-white checked:after:flex checked:after:justify-center checked:after:items-center">
                    <span class="text-redProject font-koulen">ICED</span>
                </label>
                <label class="flex items-center space-x-2 cursor-pointer">
                    <input type="checkbox" id="frappe" formControlName="frappe" class="appearance-none h-6 w-6 border border-redProject checked:bg-redProject checked:border-redProject 
                    focus:outline-none rounded-md checked:after:content-['✔'] checked:after:text-white checked:after:flex checked:after:justify-center checked:after:items-center">
                    <span class="text-redProject font-koulen">FRAPPE</span>
                </label>
            </div>

            <!-- อัพรูปและเลือกสถานะ -->
            <div class="flex justify-between h-20 mb-5 font-koulen">
                <span class="sr-only">Choose file</span>
                <input type="file" (change)="onFileSelected($event)"
                formControlName="photo" class="form-control text-[16px] text-redProject font-koulen w-[16rem]
                file:mr-4 file:py-2 file:px-4
                file:w-36 file:h-12
                file:text-[18px] file:font-koulen
                file:rounded-xl file:border-2 file:border-redProject
                file:bg-transparent file:text-redProject" />
            
                <div class="flex flex-col">
                    <select
                        formControlName="status"
                        class="font-koulen text-[18px] text-redProject w-56 h-12 p-2 outline-none border-2 border-redProject rounded-xl pr-8"
                        [ngClass]="{
                            'input-error': updateorderForm.get('status')?.touched && updateorderForm.get('status')?.invalid,
                            'input-valid': !updateorderForm.get('status')?.touched || (updateorderForm.get('status')?.valid && updateorderForm.get('status')?.value !== 'status')
                        }">
                        <option [ngStyle]="{
                            color: (updateorderForm.get('status')?.invalid && (updateorderForm.get('status')?.touched || updateorderForm.get('status')?.dirty)) ? '#FF4A00' : 'inherit'
                        }" value="status"disabled selected>Status</option>
                        <option value="regular">Regular Menu</option>
                        <option value="recommended">Recommended Menu</option>  
                    </select>
                
                    <div *ngIf="updateorderForm.get('status')?.invalid && (updateorderForm.get('status')?.touched || updateorderForm.get('status')?.dirty)"
                        class="text-orangePro text-sm">
                        Please select status. <!-- แสดงข้อความแจ้งเตือนเมื่อฟิลด์สถานะไม่ถูกต้อง -->
                    </div>
                </div>
            </div>

            <!-- ปุ่ม -->
            <div class="flex justify-between">
                <button type="button" class="font-koulen text-[18px] w-28 h-10 text-redProject items-center justify-center rounded-xl border-2 border-redProject hover:bg-[#B70A1A] hover:text-white transition-all duration-200"
                  (click)="closePopup()">Cancel</button>
                <button type="submit" class="font-koulen text-[18px] w-28 h-10 bg-redProject text-white items-center justify-center rounded-xl hover:bg-[#B70A1A] transition-all duration-200">Update Item</button>
            </div>
        </div>
    </div>
</form>

