<form [formGroup]="updateorderForm" (ngSubmit)="updateCoffeemenu()">
    <div class="fixed inset-0 flex items-center justify-center z-50" >
        <div class="bg-white rounded-3xl py-5 px-8 w-[32rem]">
            <h3 class="text-redProject font-koulen text-[30px]">Update {{coffeemenuData.name}}</h3>

            <!--ชื่อและราคา-->
            <div class="mt-4 font-koulen">
                <input formControlName="name" type="text" placeholder="Name" 
                    class=" p-2 w-full min-h-12 resize-none border-2 border-redProject outline-none rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400 mb-4">
                <input formControlName="tallcupprice" type="number" min="0" step="any" placeholder="TALL CUP PRICE" 
                    class=" p-2 w-full min-h-12 resize-none border-2 border-redProject outline-none rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400 mb-4">
                <input formControlName="grandecupprice" type="number" min="0" step="any" placeholder="GRANDE CUP PRICE" 
                    class=" p-2 w-full min-h-12 resize-none border-2 border-redProject outline-none rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400 mb-4">
                <input formControlName="venticupprice" type="number" min="0" step="any" placeholder="VENTI CUP PRICE" 
                    class=" p-2 w-full min-h-12 resize-none border-2 border-redProject outline-none rounded-xl placeholder:text-formfPro focus:ring-red-400 focus:border-red-400 mb-4">
            </div>

            <!--ร้อน ปั่น เย็น-->
            <div class="flex justify-between mb-5 font-koulen">
                <label class="flex items-center space-x-2 cursor-pointer">
                    <input type="checkbox" id="hot" formControlName="hot" class="appearance-none h-6 w-6 border border-redProject checked:bg-redProject checked:border-redProject 
                    focus:outline-none rounded-md checked:after:content-['✔'] checked:after:text-white checked:after:flex checked:after:justify-center checked:after:items-center">
                    <span class="text-redProject font-koulen">HOT</span>
                </label>
                <label class="flex items-center space-x-2 cursor-pointer">
                    <input type="checkbox" id="iced" formControlName="iced" class="appearance-none h-6 w-6 border border-redProject checked:bg-redProject checked:border-redProject 
                    focus:outline-none rounded-md checked:after:content-['✔'] checked:after:text-white checked:after:flex checked:after:justify-center checked:after:items-center">
                    <span class="text-redProject font-koulen">ICED</span>
                </label>
                <label class="flex items-center space-x-2 cursor-pointer">
                    <input type="checkbox" id="frappe" formControlName="frappe" class="appearance-none h-6 w-6 border border-redProject checked:bg-redProject checked:border-redProject 
                    focus:outline-none rounded-md checked:after:content-['✔'] checked:after:text-white checked:after:flex checked:after:justify-center checked:after:items-center">
                    <span class="text-redProject font-koulen">FRAPPE</span>
                </label>
            </div>

            <!--อัพรูปและเลือกสถานะ-->
            <div class="flex justify-between mb-8">
                <span class="sr-only">Choose file</span>
                <input type="file" (change)="onFileSelected($event)"
                formControlName="photo" class="form-control text-[16px] text-redProject font-koulen w-[16rem]
                file:mr-4 file:py-2 file:px-4
                file:w-36 file:h-12
                file:text-[18px] file:font-koulen
                file:rounded-xl file:border-2 file:border-redProject
                file:bg-transparent file:text-redProject" />
            
                <select formControlName="status" class="font-koulen text-[18px] text-redProject w-56 h-12 
                outline-none border-2 border-redProject rounded-xl">
                <option value="status">Status</option>
                <option value="regular">Regular Menu</option>
                <option value="recommended">Recommended Menu</option>            
                </select>
            </div>

            <!--ปุ่ม-->
            <div class="flex justify-between">
                <button type="button" class="font-koulen text-[18px] w-28 h-10 text-redProject items-center justify-center rounded-xl border-2 border-redProject hover:bg-[#B70A1A] hover:text-white transition-all duration-200"
                  (click)="closePopup()">Cancel</button>
                <button type="submit" class="font-koulen text-[18px] w-28 h-10 bg-redProject text-white items-center justify-center rounded-xl hover:bg-[#B70A1A] transition-all duration-200">Update Item</button>
            </div>
        </div>
    </div>
</form>

