<div class="bg-orange-100/50">
  <app-navbar></app-navbar>
  <div class="container mx-auto">
    <section class="flex justify-between h-screen items-center px-10">
      <!-- ตัวละครทางซ้าย -->
      <div class="relative flex items-center">
        <div
          class="rounded-3xl border-4 border-orange-400 p-5 w-[250px] relative text-right"
        >
          <p class="font-koulen text-orange-500 text-xl">Let’s Goooo!</p>
        </div>
        <img
          src="../../../assets/left_character.png"
          alt="Left character"
          class="absolute left-[-35%] w-[250px]"
        />
      </div>

      <!-- ตัวละครตรงกลางและข้อความ -->
      <div class="relative flex items-center">
        <div
          class="rounded-3xl border-4 border-orange-400 p-5 w-[500px] text-right relative shadow-xl"
        >
          <label class="text-[40px] font-koulen text-orange-500"
            >RESERVE YOUR TIME <br />
            AND LET THE FUN BEGIN!</label
          >
          <button
            class="bg-orange-500 text-white text-xl font-bold mt-5 px-6 py-2 rounded-full"
          >
            RESERVE
          </button>
        </div>
        <img
          src="../../../assets/fisherman.png"
          alt="Fisherman character"
          class="absolute left-[-30%] w-[400px] drop-shadow-2xl"
        />
      </div>

      <!-- ตัวละครทางขวา -->
      <div class="relative flex items-center">
        <div
          class="rounded-3xl border-4 border-orange-400 p-5 w-[300px] relative"
        >
          <p class="font-koulen text-orange-500 text-xl">Let’s fun together!</p>
        </div>
        <img
          src="../../../assets/right_character.png"
          alt="Right character"
          class="absolute right-[-30%] w-[300px]"
        />
      </div>
    </section>
    <section class="px-10 py-5">
      <!-- Header Section -->
      <div class="flex w-full justify-center items-center mb-10">
        <div
          class="text-orange-500 text-[50px] font-koulen basis-[20%] flex justify-center items-center"
        >
          <h1>COMING SOON</h1>
        </div>
        <div class="basis-auto flex-1">
          <hr class="border-orange-500 w-full border-b-2 mt-2" />
        </div>
        <div class="basis-1/5 w-full flex justify-center">
          <!-- Left Arrow Button -->
          <button
            class="text-orange-500 text-4xl font-bold"
            (click)="moveLeft()"
          >
            <span>&#8592;</span>
          </button>
          <button
            class="text-orange-500 text-4xl font-bold"
            (click)="moveRight()"
          >
            <span>&#8594;</span>
          </button>
        </div>
      </div>

      <!-- Carousel Section -->
      <div class="flex justify-between items-center">
        <!-- Cards Container -->
        <div class="flex space-x-5 overflow-hidden">
          <div *ngFor="let card of boardgameinactiveItem">
            <div class="border-4 border-orange-400 p-5 rounded-3xl w-[400px]">
              <img
                [src]="card.photo"
                [alt]="card.name"
                class="w-full rounded-xl"
              />
              <div class="mt-4">
                <h2 class="text-orange-500 text-2xl font-koulen">
                  {{ card.name }}
                </h2>
                <p class="text-lg mt-2">{{ card.description }}</p>
                <p class="text-gray-600 mt-2">
                  เกมเบาสมองประลองกลยุทธ์ที่ทุกสิ่งทุกอย่างตัดสินกันที่การ์ดใบเดียว...
                </p>
                <p class="text-orange-500 text-xl font-bold mt-4">
                  {{ card.price }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Right Arrow Button -->
      </div>
    </section>
    <section class="grid grid-cols-4 grid-rows-3 gap-5">
      <div class="text-[40px] border border-orange-400 p-5 rounded-3xl col-span-2">
        <label
          >Get ready for excitement with <br />
          our brand-new game!</label
        >
      </div>
      <div class="col-start-3 row-span-3 col-span-2 bg-orangePro rounded-3xl p-5">
        <div class="flex">
          <img [src]="boardgameItemsdesc[2].photo" class="w-44" />
          <h2 class="text-[48px] font-koulen text-white text-wrap">
            {{boardgameItemsdesc[2].name}}
          </h2>
        </div>
        <p class="text-[24px]">
          {{boardgameItemsdesc[2].description}}
        </p>
      </div>
      <div
        class="col-span-1 row-start-2 row-span-2 flex flex-col justify-center items-center rounded-3xl bg-orangePro"
      >
        <img [src]="boardgameItemsdesc[1].photo" class="w-32" />
        <div class="flex flex-col justify-center items-center">
          <h3 class="text-[32px] text-white font-koulen">{{boardgameItemsdesc[1].name}}</h3>
          <p class="text-[32px] text-white font-koulen">
            ศึกป่วนก๊วนต้าวเหมียว
          </p>
        </div>
      </div>
      <div
        class="row-start-2 row-span-2 col-span-1 border border-orangePro rounded-3xl flex flex-col justify-center items-center text-orangePro"
      >
        <img [src]="boardgameItemsdesc[0].photo" class="w-32" />
        <div class="flex flex-col justify-center items-center">
          <h3 class="text-[32px] font-koulen">{{boardgameItemsdesc[0].name}}</h3>
          <p class="text-[32px] font-koulen">ศึกป่วนก๊วนต้าวเหมียว</p>
        </div>
      </div>
    </section>
    <section class="bg-[#F4F1EC] h-screen">
      
            <!-- ใส่เนื้อหาของเมนูที่ต้องการแสดง เช่น ชื่อและรูป -->
            <section id="beverage" class="pt-24">
              <div
                class="text-center text-4xl font-normal text-[#D2091C] font-koulen"
              >
                BEVERAGE MENU
              </div>
              <div class="flex justify-center items-center">
                <button
                  (click)="prevPage()"
                  [disabled]="currentPage === 0"
                  class="h-12 text-4xl text-redProject disabled:opacity-50 transition-transform duration-200 transform hover:scale-150"
                >
                  &lt;
                </button>

                <div class="grid grid-cols-3 gap-8 p-5 mx-12">
                  <div
                    *ngFor="let item of displayedItems"
                    class="p-4 flex flex-col border-[3px] border-[#D2091C] outline-3 outline-red-50 rounded-[30px] w-64"
                  >
                    <!-- ใส่เนื้อหาของเมนูที่ต้องการแสดง เช่น ชื่อและรูป -->
                    <div class="px-4">
                      <div class="mb-4 flex justify-center">
                        <img class="max-h-24" [src]="item.photo" alt="" />
                        
                      </div>
                      <div class="text-center flex justify-between">
                        <div class="text-lg font-normal font-koulen">
                          {{ item.name }}
                        </div>
                        <div class="font-koulen text-lg ">${{ item.price}}</div>
                      </div>
                    </div>
                    <div class="flex justify-between items-center">
                      <div>
                        {{item.description}}
                      </div>
                      <button
                        (click)="openPopup(item)"
                        class="mt-4 px-4 py-1 bg-transparent border-orangePro border text-orangePro rounded-[10px]  font-koulen"
                      >
                        BUY
                      </button>
                    </div>
                  </div>
                </div>
                <button
                  (click)="nextPage()"
                  [disabled]="
                    (currentPage + 1) * itemsPerPage >= boardgameItems.length
                  "
                  class="h-12 text-4xl text-redProject disabled:opacity-50 transition-transform duration-200 transform hover:scale-150"
                >
                  &gt;
                </button>
              </div>

              <!-- COFFEE GRID --><!-- COFFEE GRID --><!-- COFFEE GRID --><!-- COFFEE GRID --><!-- COFFEE GRID --><!-- COFFEE GRID --><!-- COFFEE GRID --><!-- COFFEE GRID --><!-- COFFEE GRID -->
            </section>
          
    </section>
  </div>
</div>
