<div class="flex flex-col md:flex-row relative min-h-screen min-w-screen bg-[#F4F1EC] p-3 sm:p-4 justify-center">
  <main class="container flex flex-col md:flex-row justify-center items-center">
    <div class="z-10 px-3 sm:px-10">
      <p-toast></p-toast>
      <form (submit)="login()" class="text-center md:text-left">
        <h2 class="font-seymour text-[#D2091C] text-xl sm:text-4xl">Welcome to</h2>
        <h2 class="font-seymour text-[#D2091C] text-xl sm:text-4xl">CafeBOARDgame</h2>
        <p class="font-seymour text-[#D2091C] mt-2 sm:mt-5 text-xs sm:text-xl">
          don't have an account? <a href="/register" class="text-[#D2091C] underline">Sign up</a>
        </p>

        <div class="container mt-4 sm:mt-9">
          <div class="py-3 sm:py-8">
            <label class="relative">
              <span
                class="absolute font-seymour font-thin text-[#D2091C] left-2 -top-2 sm:-top-5 px-1 text-xs sm:text-sm uppercase tracking-wide bg-[#F4F1EC] ml-2"
                >Email</span
              >
              <input
                [(ngModel)]="user.email"
                name="email"
                type="email"
                required
                class="w-full px-2 py-2 sm:px-4 sm:py-2 mt-2 sm:mt-4 text-xs sm:text-lg outline-none border-2 border-[#D2091C] rounded-2xl hover:border-[#D2091C] duration-200 focus:border-indigo-60 bg-inherit"
              />
            </label>
          </div>
          <div>
            <label class="relative">
              <span
                class="absolute font-seymour font-thin text-[#D2091C] left-2 -top-2 sm:-top-5 px-1 text-xs sm:text-sm uppercase tracking-wide bg-[#F4F1EC] ml-2"
                >Password</span
              >
              <input
                [(ngModel)]="user.password"
                name="password"
                type="password"
                required
                class="w-full px-2 py-2 sm:px-4 sm:py-2 mt-2 sm:mt-4 text-xs sm:text-lg outline-none border-2 border-[#D2091C] rounded-2xl hover:border-[#D2091C] duration-200 focus:border-indigo-60 bg-inherit"
              />
            </label>
          </div>
          <div class="flex justify-center py-4 sm:py-8">
            <button
              type="submit"
              class="bg-[#D2091C] text-white font-seymour font-bold py-1 px-3 sm:px-6 rounded-lg hover:bg-[#76232b] transition duration-200 text-xs sm:text-base"
            >
              Sign in
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="flex justify-center items-center z-10 mt-8 md:mt-0 hidden xl:block">
      <img src="../../../assets/loginImage_bg1.png" class="w-full md:w-[680px]" alt="login" />
    </div>
  </main>

  <div
    class="absolute bottom-0 right-0 w-0 h-0 border-r-[500px] sm:border-r-[1100px] border-r-[#D2091C] border-t-[300px] sm:border-t-[690px] border-t-transparent hidden xl:block"
  ></div>
</div>
