<div class="bg-orange-100 -z-10">
  <app-navbar></app-navbar>

  <div class="container mx-auto relative">
    <div
      class="text-[80px] font-bold text-red-600 font-seymour p-12 h-screen drop-shadow-2xl"
    >
      Yummy
      <div class="ml-28">
        Fun Times!
      </div>
      <div class="text-[60px] ml-72 relative z-20"> <!-- เพิ่ม relative และ z-20 -->
        Let's eat
      </div>
    </div>
    <div class="absolute w-[480px] top-[23%] left-[-200px]">
      <img src="../../../assets/Macha.png"/>
    </div>
    <div class="absolute w-[550px] top-[230px] left-[22%]">
      <img src="../../../assets/cupcake.png"/>
    </div>
    <div class="absolute w-[560px] top-[-65px] right-[-75px]">
      <img src="../../../assets/pang.png"/>
    </div>
  </div>
</div>
