<div class="bg-orange-100">
  <app-navbar></app-navbar>

  <div class="container mx-auto relative ">
    <div
      class="text-[80px] font-bold text-red-600 font-seymour p-12 h-screen drop-shadow-2xl"
    >
      Yummy <br />
      Fun Times!
    </div>
    <div class="absolute w-[420px] top-[31%] left-[-200px]">
      <img src="../../../assets/Macha.png"/>
    </div>
    <div class="absolute w-[550px] top-[220px] left-[20%]">
      <img src="../../../assets/cupcake.png"/>
    </div>
    <div class="absolute w-[560px] top-[-65px] right-[-75px]">
      <img src="../../../assets/pang.png"/>
    </div>
  </div>
  
</div>
